In [1]:
import pandas as pd
import os
citydata_raw = pd.read_csv("Restaurant_Scores_-_Lives_Standard.csv")
citydata_raw.head(1)

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,inspection_id,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category
0,69618,Fancy Wheatfield Bakery,1362 Stockton St,San Francisco,CA,94133,NaN,NaN,NaN,NaN,69618_20190304,03/04/2019 12:00:00 AM,NaN,Complaint,69618_20190304_103130,Inadequate sewage or wastewater disposal,Moderate Risk

In [2]:
citydata = citydata_raw.loc[:,["business_id", "business_name", "business_address", 
                           "business_city", "business_state", "business_postal_code"]]
citydata.head(5)

,business_id,business_name,business_address,business_city,business_state,business_postal_code
0,69618,Fancy Wheatfield Bakery,1362 Stockton St,San Francisco,CA,94133
1,97975,BREADBELLY,1408 Clement St,San Francisco,CA,94118
2,69487,Hakkasan San Francisco,1 Kearny St,San Francisco,CA,94108
3,91044,Chopsticks Restaurant,4615 Mission St,San Francisco,CA,94112
4,85987,Tselogs,552 Jones St,San Francisco,CA,94102

In [3]:
citydata= citydata.drop_duplicates()
citydata.head(100)

,business_id,business_name,business_address,business_city,business_state,business_postal_code
0,69618,Fancy Wheatfield Bakery,1362 Stockton St,San Francisco,CA,94133
1,97975,BREADBELLY,1408 Clement St,San Francisco,CA,94118
2,69487,Hakkasan San Francisco,1 Kearny St,San Francisco,CA,94108
3,91044,Chopsticks Restaurant,4615 Mission St,San Francisco,CA,94112
4,85987,Tselogs,552 Jones St,San Francisco,CA,94102
...,...,...,...,...,...,...
100,100017,AMICI'S EAST COAST PIZZERIA,475 06th St,San Francisco,CA,94103
101,84971,Cafe Med,201 Pine St,San Francisco,CA,94104
102,90428,McDonald's,609 Market St.,San Francisco,CA,94105
103,95410,Bowl'D Acai,428 11 St,San Francisco,CA,94103
104,95455,Bake Cheese Tart,"845 Market St #16, LL1",San Francisco,CA,94103

In [9]:
citydata.count()

business_id             6253
business_name           6253
business_address        6253
business_city           6253
business_state          6253
business_postal_code    6059
dtype: int64

In [5]:
citydata_id = citydata_raw.loc[:,["business_id"]]

In [6]:
citydata_id_new = citydata_id.drop_duplicates()

In [8]:
citydata_id_new.count()

business_id    6253
dtype: int64

In [10]:
citydata.to_csv("Restaurant_Score_Output.csv")